* {
  padding: 0;
  margin: 0;
}

@mixin shadow() {
  text-shadow: 2px 2px 5px #444;
}

%dark-bg {
  background-color: darkslategrey;
  color: whitesmoke;
}

%inactive {
  background-color: dimgray;
  color: gainsboro;
  cursor: not-allowed;
}

%focus-glow {
  box-shadow: 0 0 5px rgba(51, 203, 120, 1);
  outline: 2px solid rgba(51, 203, 120, 1);
}

html {
  height: 100%;
  background-color: slategray;
  color: whitesmoke;
}

body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: .5em 0 .5em;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  @include shadow;
}


.grid {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    border: 1px solid slategrey;
  }

  // TODO: use checkbox + span styling since IE/FF don't respect appearance:none
  // http://stackoverflow.com/questions/19145504/style-a-checkbox-in-firefox-remove-check-and-border
  input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    background: whitesmoke;
    width: 20px;
    height: 20px;
    border: 0;
    &:focus {
      @extend %focus-glow;
    }

    &:checked {
      background-color: darkslategrey;
      animation: birth 500ms;
    }
  }
}

@keyframes birth {
  0% {
    background-color: palegreen;
  }
  30% {
    background-color: green;
  }
  60% {
    background-color: darkslategrey;
  }
}


.controls {
  button,
  .button {
    margin: 1rem .25rem;
    padding: .25rem .75rem;
    background-color: whitesmoke;
    color: darkslategray;
    border: 0;
    border-radius: .3em;
    font: inherit;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
      @extend %dark-bg;
    }
    &:disabled {
      @extend %inactive;
    }
  }

  label {
    display: inline-block;
  }

  .playbox{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    &:checked + label.playlabel {
      @extend %dark-bg;
    }
  }
}

.speed {
  label {
    position: absolute;
    clip: rect(0,0,0,0);
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 75vw;
    max-width: 300px;
    margin: 0.7px 0;

    &:focus {
      outline: none;
    }
    &:active {
      &::-webkit-slider-thumb {
        cursor: -webkit-grabbing;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 25.6px;
      box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
      background: #484d4d;
      border-radius: 0;
      border: 0 solid #010101;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0 0 1px #670000, 0 0 0 #810000;
      border: 0 solid #ff1e00;
      height: 27px;
      width: 18px;
      border-radius: 0;
      background: rgba(255, 67, 95, 0.93);
      -webkit-appearance: none;
      margin-top: -0.7px;
      cursor: -webkit-grab;
    }
    &::-moz-range-track {
      width: 100%;
      height: 25.6px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
      background: #484d4d;
      border-radius: 0;
      border: 0 solid #010101;
    }
    &::-moz-range-thumb {
      box-shadow: 0 0 1px #670000, 0 0 0 #810000;
      border: 0 solid #ff1e00;
      height: 27px;
      width: 18px;
      border-radius: 0;
      background: rgba(255, 67, 95, 0.93);
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 25.6px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: #3e4242;
      border: 0 solid #010101;
      border-radius: 0;
      box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    }
    &::-ms-fill-upper {
      background: #484d4d;
      border: 0 solid #010101;
      border-radius: 0;
      box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    }
    &::-ms-thumb {
      box-shadow: 0 0 1px #670000, 0 0 0 #810000;
      border: 0 solid #ff1e00;
      height: 27px;
      width: 18px;
      border-radius: 0;
      background: rgba(255, 67, 95, 0.93);
      cursor: pointer;
    }
  }
}
