<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conway's Game of Life</title>
  <link rel="stylesheet" href="assets/stylesheets/global.css">
</head>
<body>
  <h1>Conway’s Game of Life</h1>

  <table id="js-grid" class="grid"></table>
  <div class="controls">
    <div class="buttons"><input class="playbox" id="js-autoPlay" type="checkbox"/>
      <label class="button playlabel" for="js-autoPlay">Autoplay</label>
      <button id="js-next">Next</button>
      <button id="js-newGame">New</button>
    </div>
    <div class="speed">
      <label for="js-speedControl">Speed</label>
      <input type="range" id="js-speedControl" min="50" max="1500" step="25"/>
    </div>
  </div>

  <script src="assets/javascripts/shared.js"></script>
  <script src="assets/javascripts/index.js"></script>
</body>
</html>
