<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conway's Game of Life</title>
  <link rel="stylesheet" href="assets/stylesheets/global.css">
</head>
<body>
  <h1>Conway’s Game of Life</h1>

  <input id="autoplay" type="checkbox"/>
  <label class="button playlabel" for="autoplay">Autoplay</label>
  <button class="next">Next</button>
  <button class="newGame">New</button>
  <table class="grid"></table>

  <script src="assets/javascripts/shared.js"></script>
</body>
</html>
